/* ====================== VARIABLES */

:root {
  --color-light: #f0eeed;
  --color-dark: #332c39;
  --color-accent-teal: #84D2C5;
  --color-accent-orange: #C27664;
  --color-accent-yellow: #F2D9B9;
  --font-display: 'Tilt Warp', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --br: 5px;
}

/* ====================== BASE */

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

div.content {
  font-family: var(--font-sans);
  padding: 20px;
}

.text-display {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--color-accent-yellow);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.br {
  border-radius: var(--br);
}

a {
  text-decoration: none;
  color: var(--color-light);
}

/* ====================== NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  color: var(--color-light);
  height: 80px;
}

.nav-item {
  margin: 0 20px;
}

.nav-item.nav-item-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.nav-title {
  color: var(--color-light);
}

.nav-title:hover {
  color: var(--color-accent-yellow);
}

.nav-profile {
  color: var(--color-dark);
  background-color: var(--color-light);
  padding: 10px;
}

/* ====================== BUTTONS */

.btn-primary {
  padding: 10px;
  background-color: var(--color-dark);
  color: var(--color-light);
  transition: all .1s;
}

.btn-primary:hover {
  background-color: var(--color-accent-yellow);
  color: var(--color-dark);
}

.btn-primary-rev {
  padding: 10px;
  background-color: var(--color-accent-yellow);
  color: var(--color-dark);
  transition: all .1s;
}

.btn-primary-rev:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}

/* ====================== FORMS */
input {
  font-family: var(--font-sans);
  padding: 10px;
  border: none;
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: all .1s;
}

input[type="submit"] {
  background-color: var(--color-dark);
  color: var(--color-light);
}

input[type="submit"]:hover {
  background-color: var(--color-accent-yellow);
  color: var(--color-dark);
  cursor: pointer;
}

.flex-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-form input {
  margin: 10px 0;
}

button[type="submit"] {
  font-family: var(--font-sans);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* ====================== MISC/TEMP */

li.temp-list-item {
  margin: 40px 20px;
}

.error-message {
  padding: 20px;
  background-color: var(--color-accent-orange);
  color: var(--color-dark);
  font-weight: 700;
}

.success-message {
  padding: 20px;
  background-color: var(--color-accent-teal);
  color: var(--color-dark);
  font-weight: 700;
}

.info-message {
  padding: 20px;
  background-color: var(--color-accent-yellow);
  color: var(--color-dark);
  font-weight: 700;
}

.nocursor {
  user-select: none;
}
