<nav>
  <span class="nav-item text-display"
    ><a href="{{ url_for('pages.home') }}" class="nav-title">IDA</a></span
  >
  {% if username %}
  <div class="nav-item nav-item-container">
    <p class="nav-item nav-profile br nocursor">{{ username }}</p>
    <a
      href="{{ url_for('pages.logout') }}"
      class="nav-item nav-link btn-primary-rev br"
      >Logout</a
    >
  </div>
  {% endif %}
</nav>
