{% include "includes/head.jinja" %}
{% include "includes/nav.jinja" %}
<div class="content">
    {% if error %}
        <div class="content-header">
            <h1>IDA System: Error {{ code }}</h1>
        </div>
        <p class="error-message br">{{ message }}</p>
    {% endif %}
</div>
{% include "includes/footer.jinja" %}
